    .alt-table{
        background: beige;
    }
        th { text-align : left; }
        table { width: 100% }
        body { font-family: sans-serif; padding: 0;margin:0 }
   .topBanner {
        background: darkRed;
        width : 100%;
        margin: 0;
        padding : 5px;
        padding-left: 15px;
        color : white;
        margin-bottom : 20px;
}
        .floatRight { float : right ; margin-right : 20px; }
        .topBanner a,.topBanner a:visited{
                color: white;
        }
        .topBanner a:hover,.topBanner a:active{
                color:yellow;
        }
        fieldset{
                width: 275px;
                margin: auto;
        }
